@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.react-markdown h2 {
  font-size: 30px;
}

.react-markdown h3 {
  font-size: 24px;
}

.react-markdown li {
  margin-left: 32px;
}

.react-markdown blockquote {
  margin: 0;
}

.react-markdown blockquote {
  padding: 20px;
  background: #eee;
  border-radius: 5px;
}

.react-markdown blockquote::before {
  content: '\201C';
}

.react-markdown blockquote::after {
  content: '\201D';
}