@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.ql-container {
  position: static !important;
}

.react-markdown p {
  letter-spacing: normal;
  line-height: 1.5;
}

.react-markdown h2 {
  font-size: 30px;
}

.react-markdown h3 {
  font-size: 24px;
}

.react-markdown li {
  margin-left: 32px;
}

.react-markdown blockquote {
  margin: 0;
}

.react-markdown blockquote {
  padding: 20px;
  background: #eee;
  border-radius: 5px;
}

.react-markdown blockquote::before {
  content: "\201C";
}

.react-markdown blockquote::after {
  content: "\201D";
}

.rdrDateRangePickerWrapper {
  width: 100%;
  flex-direction: column-reverse;
}

.rdrDefinedRangesWrapper {
  display: none;
}

.rdrMonth {
  width: 100% !important;
}

.react-markdown a {
  text-decoration: underline;
}
